body {
  text-align: center;
}

body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
#button {
  background: none;
  color: #ffa260;
  border: 2px solid;
  padding: 0.5em 2em;
  font-size: 1em;
  transition: all 0.25s;
  margin-top: 12px;
}

#button:hover {
  border-color: #f1ff5c;
  color: white;
  box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
  transform: translateY(-0.25em); 
  cursor: pointer;
}